* {
  box-sizing: border-box;
}

body  {

  /** Removes the ability to select texts, to improve UI */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;


  background: #f6f6f6;
  padding-bottom: 30px;
  padding-top: 30px;

}

/** Keeps the div width at 600px and centered for desktops,
    and fits edge-to-edge for mobile devices*/
.calc-main  {
  max-width: 600px;
  margin: 0 auto;
}

.calc-disp  {
  background: #3d2baf;
  box-shadow: none;
  width: 100%;
  padding-right: 30px;
  text-align: right;
  font-size: 60px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 30px;
  color: white;
  border-radius: 50px 50px 0 0;
  margin-bottom: -1px;
  border: 2px solid black !important;
}

#curve-btn-left  {
  border-radius: 0 0 0 50px;
}

#curve-btn-right  {
  border-radius: 0 0 50px 0;
}

.calc-buttons {

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calc-btn {
  background: #d9dce0;
  color: black;
  border: 2px solid black;
  padding: 10px;
  font-size: 42px;
  cursor: pointer;
}

.calc-AC {
	color: #c11534 !important;

}

.calc-operator  {
  background: #b0b3b7!important;
}

.calc-operator:hover  {
  background: #eaddc0 !important;
}

.calc-btn:focus {
  outline: 0;
}

.calc-btn:hover {
  background-color: #eaddc0;
}
